#fondo {
    background: darkgrey; 
	}

.contenedor{
    width: 1080px;
    margin: auto;
    background: black;
    color: bisque;
    padding: 20px 15px 50px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}

.contenedor .titulo{
    font-size: 3.5ex;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}

#pestanas {
    float: top;
    font-size: 3ex;
    font-weight: bold;
}

#pestanas ul{
    margin-left: -40px;    
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: darkgrey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid bisque;
    border-bottom: dimgray;
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: bisque;
}

#contenidopestanas{
    clear: both;  
    background: dimgray;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px solid bisque;
    width: 1025px;
}

#contenidopestanas div{
  padding: 20px 0px 20px 20px;
}

#pestanas #pestana1, #cpestana1{
  background: #047;
}

#pestanas #pestana2, #cpestana2{
  background: #740;
}

#pestanas #pestana3, #cpestana3{
  background: #470;
}

#pestanas #pestana4, #cpestana4{
  background: #704;
}

#pestanas #pestana5, #cpestana5{
  background: #074;
}

#pestanas #pestana6, #cpestana6{
  background: #407;
}
#principal{
	margin:50px 0 0 75px;
	}
		
.button, #pulsar, #pulsar1, #pulsar2, #pulsar3, #pulsar4, #pulsar5, #pulsar6{
	border: solid 1px #da7c0c;
	background: #f78d1d;
	width:165px;
	height:45px;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	color: #fff;
padding: 7px 12px;
-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
cursor: pointer;
	}
